@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #FCFCFC;
    --text-color: #333;
    --primary-color: #46237A;
    --secondary-color: #F4D35E;
    --tertiary-color: #F56416;
    --quaternary-color: #256EFF;
    --quinary-color: #FCFCFC;
    --senary-color: #777;
}

.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --primary-color: #46237A;
    --secondary-color: #F4D35E;
    --tertiary-color: #F56416;
    --quaternary-color: #256EFF;
    --quinary-color: #FCFCFC;
    --senary-color: #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Inter;
}

.page_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

ul,
ol {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 999;
    font-size: 1.2em;
    align-items: center;
    color: #F8F8F8;
    background-color: rgba(70, 35, 122, 0.75);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.logo {
    height: 55px;
    margin: 7.5px 0;
}

.h_logo {
    width: 20%;
    padding-left: 15%;
    text-align: center;
}

.h_menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.h_menusUp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 15%;
}

.h_mainMenu {
    height: 34px;
}

.h_mainMenu li a.active {
    color: var(--secondary-color);
}

.h_mainMenuMidle li a.active {
    color: var(--secondary-color);
}

.h_mainMenu ul,
.h_mainMenuMidle ul {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.h_mainMenuMidle li a:hover {
    transform: translateY(2px);
    color: var(--secondary-color);
}

.h_mainMenu li a:hover {
    transform: translateY(2px);
}

.h_mainMenu li a,
.h_mainMenuMidle li a {
    color: #FCFCFC;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: color 0.2s;
}

#headerUp {
    display: flex;
        align-items: center;
    height: 34px;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#headerUp:hover {
    color: #FCFCFC;
    background-color: var(--tertiary-color);
}

.messageErro {
    color: red;
    display: block;
    font-size: 0.8em;
}

.style_error {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5)
}

#erro_inicial {
    display: none;
    color: red;
}

#sucesso_feedback {
    display: none;
    color: green;
    font-weight: bold;
    padding: 10px;
    border: 1px solid green;
}

.cont_error {
    display: flex;
    flex-direction: column;
}

.id_ContErr {
    position: relative;
    padding: 5px;
}

.help {
    display: flex;
    position: relative;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    padding: 1px;
    color: #777;
    background-color: #FCFCFC;
    border-radius: 20px;
    justify-content: center;
    border: 1px solid #999;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.help:hover {
    background-color: var(--secondary-color);
    color: #999;
    transition: background-color 0.2s;
}

.id_Help {
    font-size: 0.8em;
    color: var(--primary-color);
}

.id_Cont_Help {
    position: relative;
    background-color: #E9E6EE;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

.id_Cont_Help.show-help {
    max-height: 100px;
    opacity: 1;
}

.banner {
    display: flex;
    height: 400px;
    padding: 0px;
    background-color: #FCFCFC;
    position: relative;
    z-index: 100;
}

.banner_stand {
    display: flex;
    height: 200px;
    padding: 0px;
    background-color: #FCFCFC;
    position: relative;
    z-index: 100;
}

.t_title {
    padding: 10px;
}

.info_valor {
    flex-grow: 1;
}

.b_title {
    font-weight: bold;
}

.b_content_info {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    gap: 7px;
    padding: 5px;
}

.banner_content {
    height: 200px;
    ;
    width: 600px;
    margin-left: 40px;
    color: #FCFCFC;
    background-color: rgba(248, 248, 248, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.banner_inner {
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    z-index: 300;
    overflow: hidden;
}

.imageHqStyle {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    border-top: 5px solid var(--text-color);
    border-right: 10px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    border-left: 4px solid var(--text-color);
}

.imageHq {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

#imageHq {
    display: flex;
    transform: rotateY(-45deg);
}

.bannerbanner {
    width: 280px;
    height: 100%;
    position: absolute;
    right: 15%;
    z-index: 400;
    top: 50%;
    transform: translateY(-50%);
    perspective: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#HQImage {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bannerImage {
    display: flex;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.backgroundStyle {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.7);
}

.page_edition {
    display: flex;
    min-height: 650px;
    flex-grow: 1;
    background-color: var(--background-color);
}

.p_edition {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
    z-index: 100;
}

.add_edition {
    width: 100%;
    padding-top: 5px;
    position: relative;
    z-index: 101;
    min-height: 25px;
}

#button_addEdt {
    font-size: 1em;
    padding: 6px;
    background-color: var(--primary-color);
    color: #F8F8F8;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#button_addEdt:hover {
    transform: translateY(2px);
}

#b_etitle {
    position: relative;
    z-index: 103;
}

#form_NewEdt {
    margin-top: 0px;
    width: 100%;
    position: absolute;
    z-index: 900;
    top: 35px;
    left: 0px;
    color: aliceblue;
    background-color: rgba(70, 35, 122, 0.75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#form_NewEdt.is-open {
    max-height: 400px;
    padding-top: 25px;
    padding-bottom: 5px;
}

#id_numEdt input[type="text"],
#id_numDate input[type="text"] {
    background-color: #FCFCFC;
    width: 150px;
}

#uploadForm {
    display: flex;
    gap: 0px;
    flex-direction: column;
    width: 100%;
}

.partOne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.partTwo {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: auto;
    align-items: center;
}

#id_infOne {
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
    align-content: flex-start;
}

#id_upIm {
    align-items: flex-start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
}

#id_numEdt {
    display: flex;
    flex-direction: column;
}

#id_numDate {
    display: flex;
    flex-direction: column;
}

#id_btUpEdt {
    display: flex;
    align-items: center;
    width: 15%;
}

#id_btUpEdt button {
    font-size: 1em;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: color 0.2s;
}

#id_btUpEdt button:hover {
    background-color: var(--tertiary-color);
    transform: translateY(3px);
    color: #FCFCFC;
}

.view_edition {
    width: 100%;
    height: 95%;
    padding-top: 5px;
    position: relative;
    z-index: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardsContainer {}

#EditionList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}

.menu-option:hover {
    background-color: var(--tertiary-color);
}

.delete-action:hover {
    background-color: red;
}

.menu-option {
    padding: 10px;
    text-decoration: none;
    color: #FCFCFC;
    display: block;
    white-space: nowrap;
    transition: color 0.2s;
}

.edition-menu-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: var(--quaternary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.btn-edition-menu {
    background: rgba(37, 110, 255, 1);
    color: #FCFCFC;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.2s;
}

.btn-edition-menu:hover {
    background: rgba(245, 100, 22, 1);
    color: #FCFCFC;
}

.edition-actions-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.cardEdition {
    height: 350px;
    ;
    width: 200px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    position: relative;
}

.cardEdition:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #666;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(70, 35, 122, 0.3);
}

.cardText {
    padding: 15px;
    flex-grow: 1;
    text-align: center;
    flex-grow: 1;
}

.cardTitle {
    margin-top: 0;
    font-size: 1.2em;
    color: var(--text-color);
    padding: 2px;
}

.cardDateP {
    color: #777;
    font-size: 0.8em;
    margin: 5px;
}

.cardLink {
    display: inline-block;
    padding: 8px 15px;
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    width: 100%;
    transition: color 0.2s;
}

.cardLink:hover {
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
    color: #FCFCFC;
    background-color: var(--tertiary-color);
}

.btnMoreEdt {
    position: relative;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}

#btnLoadMore {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: color 0.2s;
}

#btnLoadMore:hover {
    transform: translatey(5px);
    color: #FCFCFC;
    background-color: var(--tertiary-color);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--quaternary-color);
    max-width: 500px;
    max-height: 90vh;
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    padding: 5px;
    justify-self: center;
}

#modalEditionNumber {
    width: 70px;
}

#modalEditionDate {
    width: 90px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 15px;
    color: red;
    font-size: 1.8em;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    transform: translatey(3px);
    color: var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    color: var(--primary-color);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-save-modal {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    transition: color 0.2s;
}

.btn-save-modal:hover {
    transform: translatey(5px);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.b_image1 {
    background-image: url('../img/ph_banner02.png');
    background-repeat: no-repeat;
    background-position: center 5%;
    position: relative;
    top: 70px;
    display: flex;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 50;
}

.b_image1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 110, 255, 0.4);
    z-index: 100;
}

.fav_container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    margin-top: 100px;
    min-height: 700px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 300;
}

.fav_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    box-sizing: border-box;
    gap: 20px;
    padding: 0 10px;
}

main {
    width: 100%;
}

.up_pageAll {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.b_image2 {
    background-image: url('../img/ph_banner02.png');
    background-repeat: no-repeat;
    background-position: center 45%;
    position: relative;
    display: flex;
    padding: 0;
    top: 70px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 50;
}

.b_image2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 110, 255, 0.4);
    z-index: 100;
}

.ph_banner {
    width: 100%;
    height: auto;
}

.lib_catalog {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 140px;
    padding-bottom: 10px;
    z-index: 500;
}

.lib_catList ul {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    gap: 10px;
    font-size: 1.2em;
    color: #374151;
    justify-content: center;
}

.lib_catList li a {
    cursor: pointer;
}

.lib_catList li a:hover {
    color: var(--tertiary-color);
}

.lib_container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 500;
}

.lib_List {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color: #FCFCFC;
}

.card_lib {
    position: relative;
    width: 490px;
    height: 170px;
}

.lib_card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
    background-color: rgba(244, 211, 94, 0.7);
    width: 490px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(70, 35, 122, 0.3);
    transition: width 0.5s ease-out, background-color 0.4s ease-out;
    position: relative;
    z-index: 550;
}

.lib_card:hover {
    width: 500px;
    background-color: rgba(70, 35, 122, 0.8);
}

.lib_cardActions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 5px;
    width: 40px;
    height: 100px;
    z-index: 600;
}

.lib_bAction {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s;
    font-size: 1.4em;
    font-weight: bold;
    background-color: var(--tertiary-color);
    color: #FCFCFC;
    box-shadow: 0 8px 16px rgba(70, 35, 122, 0.3);
    width: 25px;
    height: 100px;
    transition: height 0.3s ease-in-out;
    justify-content: center;
    padding-left: 2px;
    overflow: hidden;
}

.fa-edit,
.fa-trash-alt {
    padding-left: 1px;
}

.lib_iconAction:hover {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.fa-edit:hover {
    color: var(--quaternary-color);
}

.fa-trash-alt:hover {
    color: red;
}

.fa-heart:hover {
    color: var(--secondary-color);
}

.lib_cardImag {
    position: absolute;
    width: 100px;
    height: 140px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.card_capa_img {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.lib_cardInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 9px;
    padding: 10px 105px;
    color: #777;
    transition: transform 0.3s;
    width: 100%;
}

.lib_cardInfo:hover {
    color: #FCFCFC;
    transform: translate(10px);
}

.lib_cardT {
    text-decoration: none;
}

.lib_cardInfo h3 {
    font-size: 1.1em;
    color: var(--quaternary-color);
    transition: color 0.2s;
}

.lib_cardInfo h3:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.lib_cardIn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lib_cardE {
    font-size: 0.8em;
}

.card_actions .delete-icon {
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card_actions .delete-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.modal-edit-style {
    display: flex;
    flex-direction: column;
}

.modal-edit-style h3 {
    padding: 5px;
    text-align: center;
}

#formEdicaoTitulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.container123 {
    display: flex;
    gap: 10px;
}

.id_ContainerGroupFav {
    display: flex;
    flex-direction: column;
    color: #FCFCFC;
}

#edit_lancamento {
    color: var(--primary-color);
    width: 60px;
}

#edit_genero {
    color: var(--primary-color);
    width: 190px;
}

#edit_original,
#edit_titulo {
    color: var(--primary-color);
}

#edit_Publisher {
    color: var(--primary-color);
    width: 100px;
}

.container456 {
    display: flex;
    justify-content: center;
}

#cancelButton {
    padding: 10px;
    margin-right: 10px;
    color: #FCFCFC;
    background-color: var(--quaternary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#cancelButton:hover {
    color: #FCFCFC;
    background-color: var(--tertiary-color);
}

#saveButton {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

#saveButton:hover {
    color: #FCFCFC;
    background-color: var(--tertiary-color);
}

.modal-delete-style {
    gap: 15px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.modal-delete-style h3 {
    color: var(--tertiary-color);
    padding: 10px;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
}

.modal-delete-style p {
    padding: 6px;
}

.modal-delete-style strong {
    color: #FCFCFC;
    background-color: red;
}

.modal-actions {
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.btn-delete {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    color: #FCFCFC;
    background-color: red;
}

.btn-cancel {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
}

.index_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 700px;
    margin: 0 auto;
    padding-top: 20px;
    gap: 30px;
}

.b_image3 {
    background-image: url('../img/ph_banner02.png');
    background-repeat: no-repeat;
    background-position: 20% 80%;
    position: relative;
    display: flex;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 50;
}

.b_image3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 110, 255, 0.4);
    z-index: 100;
}

.index_info {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 800px;
    height: 150px;
    margin: 0 auto;
}

#resultados-pesquisa {
    color: #777;
}

.index_infoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    gap: 10px;
    color: var(--text-color);
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.index_infoInfo span {
    color: var(--quaternary-color);
    font-weight: bold;
    font-size: 2.2em;
}

.inde_conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 300;
}

.filter-block {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.filter-block h3 {
    padding: 10px;
    color: var(--primary-color);
    font-size: 1.4em;
}

.checkbox-container {
    font-size: 0.9em;
    color: var(--text-color);
}

.filter-grid {
    padding-left: 10px;
    color: var(--text-color);
    font-size: 0.8em;
    align-items: center;
    display: flex;
    gap: 10px;
}

#filter_titulo,
#filter_titulo_original {
    font-size: 0.9em;
    color: #666;
    width: 300px;
}

#filter_editora,
#filter_data_lancamento,
#filter_genero {
    font-size: 0.9em;
    color: #666;
    width: 100px;
}

.filter-grid select {
    color: #666;
    width: 90px;
    font-size: 0.9em;
    padding: 0 5px;
}

.index_select {
    display: flex;
    gap: 5px;
    align-items: center;
}

.inde_search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.1em;
}

#id_search {
    width: 400px;
}

.t_index {
    position: relative;
}

.index_index {
    width: 400px;
    height: 60px;
    padding: 10px;
    z-index: 500;
}

.index_list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.banner_standIndex {
    display: flex;
    padding: 0px;
    position: relative;
    z-index: 100;
    margin-top: 70px;
}

/* .form-section button {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-section button:hover {
    background-color: var(--tertiary-color);
    color: #FCFCFC;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
} */

#loader-pesquisa {
    text-align: center;
    font-weight: bold;
}

#resultados-pesquisa {
    min-height: 200px;
    text-align: center;
}

.container_cards_index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}

.card_search {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 350px;
    background-color: #FCFCFC;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.cardImageIndex {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #666;
    overflow: hidden;
    border-radius: 10px;
}

.card-capa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTextIndex {
    display: block;
    width: 100%;
    text-align: center;
    transition: height 0.4s ease-out, background-color 0.4s ease-out;
    z-index: 350;
    background-color: rgba(70, 35, 122, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: absolute;
    bottom: 0;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #FCFCFC;
    flex-grow: 1;
    transform: translateY(0);
}

.card_search:hover .cardTextIndex {
    height: 100%;
    background-color: rgba(70, 35, 122, 0.9);
}

.cardTextIndex p {
    margin: 15px 0;
    font-size: 0.8em;
}

.cardTitleIndex {
    text-decoration: none;
    padding: 5px;
}

.cardTextIndex .cardTitleIndex {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.cardIIndex {
    text-decoration: none;
}

.cardOrginalIndex {
    text-decoration: none;
}

.background-page-png {
    background-image: url('../img/ph_banner01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: 10;
}

.background-page-png::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 110, 255, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 50;
}

.page_allUp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
}

.id_all {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    top: 90px;
    z-index: 100;
}

.id_ContainerbotForm {
    display: flex;
    position: relative;
    min-width: 500px;
    min-height: 600px;
    margin: auto;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.1);
    flex-direction: column;
    background-color: #FCFCFC;
}

.id_Form h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.id_ContainerGroup {
    color: #374151;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.id_FormLeft {
    display: flex;
    flex-direction: row;
}

.id_FormRight {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#txt_ReleaseYe {
    width: 70px;
}

#txt_TitleOriginal,
#txt_TitleLocal {
    width: 400px;
}

#txt_Publisher,
#txt_Gender {
    width: 120px;
}

.id_Form {
    position: relative;
}

.id_FormButton {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 15px;
    justify-content: center;
    z-index: 200;
}

.id_ButtUp {
    display: inline-block;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 150px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.id_ButtUp:hover {
    color: #FCFCFC;
    background-color: var(--tertiary-color);
    transform: translateY(2px);
}

input[type="text"],
input[type="number"],
select {
    width: 300px;
    height: 25px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.back_uniq {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.back_image {
    background-image: url('../img/ph_banner01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: 10;
}

.back_image::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 45, 56, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 50;
}

.page_read {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 200;
}

#reader-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: relative;
    margin: auto;
    top: 60px;
}

#page-image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#controls {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0;
    color: #FCFCFC;
    align-items: center;
    justify-content: space-around;
}

.nav-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--quaternary-color);
    color: #FCFCFC;
    border: none;
    border-radius: 5px;
}

.active-mode {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

#page-image.zoom-active {
    cursor: grab;
    transition: transform 0.2s ease-out;
}

#zoom-controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
}

/* .nav-button:hover {
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
} */

#page-navigation-controls {
    display: flex;
    gap: 20px;
}

#page-counter {
    display: inline-block;
    padding-top: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px;
    height: auto;
    color: var(--secondary-color);
    font-size: 0.9em;
    background-color: var(--primary-color);
    z-index: 350;
}

.footer-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-section {
    background-color: rgba(70, 35, 122, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin: 12px 0;
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    margin-top: 18px;
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}