/* Container Principal */
.lib_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    z-index: 500;
}

.lib_List {
    display: grid;
    /* O auto-fill com minmax faz os cards pularem de linha sozinhos */
    /* Ele tenta manter 220px, se não couber, expande até 1fr */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* O CARD (BOOK) */
.book {
    position: relative;
    width: 100%; /* Ocupa a largura da coluna do Grid */
    aspect-ratio: 2 / 3; /* Proporção clássica de capa de HQ */
    max-width: 250px; 
    margin: 0 auto;
    background-color: var(--gray-light);
    border-radius: 10px;
    border: 3px solid var(--gray-dark);
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: transform 0.5s;
}

/* A CAPA E A IMAGEM */
.cover {
    position: absolute;
    inset: 0; /* Preenche todo o .book */
    background-color: var(--cover-bg);
    border-radius: 7px; /* Levemente menor que o book para o efeito 3D */
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: left;
    z-index: 2;
    overflow: hidden;
}

.lib_cardImag, .lib_card, .card_capa_img {
    width: 100%;
    height: 100%;
}

.card_capa_img {
    object-fit: cover; 
    /* Use 'cover' para preencher o card todo (estético) 
       ou 'contain' se não puder cortar nada da arte. */
}

/* Efeito de abrir o livro */
.book:hover .cover {
    transform: rotateY(-80deg);
}
.lib_cardInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 50px;
    color: $senary;
    transition: transform 0.3s;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
}
.lib_cardInfo h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* Número de linhas que você quer mostrar */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    color: var(--primary-color);
}
.lib_cardIn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lib_cardO{
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* Número de linhas que você quer mostrar */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    border-bottom: 2px solid var(--body-dot-color);
}