<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style2.css">
    <title>Leitor de HQ</title>
</head>
<body class="back_uniq">
    <div class="back_image">
        <div class="page_read">
            <header id="controls">
                <div class="header-top">
                    <button onclick="window.history.back()" class="nav-button btn-exit">Voltar</button>
                    <div class="cont_mode">
                        <button id="mode-pages-btn" class="nav-button active-mode">Modo Páginas</button>
                        <button id="mode-vertical-btn" class="nav-button">Modo Vertical</button>
                    </div>
                </div>
                
                <div id="page-navigation-controls" class="nav-row"> 
                    <button id="prev-btn" class="nav-button" disabled>Anterior</button>
                    <span id="page-counter">Carregando...</span>
                    <button id="next-btn" class="nav-button" disabled>Próxima</button>
                </div>

                <div id="zoom-controls" class="nav-row">
                    <button id="zoom-out-btn" class="nav-button">-</button>
                    <button id="zoom-reset-btn" class="nav-button">100%</button>
                    <button id="zoom-in-btn" class="nav-button">+</button>
                </div>
            </header>

            <main id="reader-container">
                <div id="pages-mode" class="reader-mode">
                    <div class="image-wrapper">
                        <img id="page-image" src="" alt="Página da História" draggable="false" />
                    </div>
                </div>

                <div id="vertical-mode" class="reader-mode" style="display: none;">
                    </div>
            </main>
        </div>
    </div>
    <script src="view/read.js"></script>
</body>
</html>