<div id="sucesso_feedback"></div>
<div id="erro_inicial"></div>

<div class="banner">
    <div id="banner_principal_container" class="bannerImage">
        <div id="bannerBackground" class="backgroundStyle"></div>
        <div class="bannerbanner">
            <div id="imageHq">
                <img id="HQImage" src="" alt="Capa" class="imageHqStyle" style="display:none;">
            </div>
        </div>

    </div>


    <div class="banner_inner">

        <div class="banner_content">
            <div id="info_basicas_titulo">
                <h2 id="tituloPrincipal" class="t_title">Carregando...</h2>

                <div class="b_content_info">
                    <p class="b_title">Título Original:</p>
                    <span id="tituloOriginal" class="info_valor"></span>
                </div>

                <div class="b_content_info">
                    <p class="b_title">Editora: </p>
                    <span id="editoraNome" class="info_valor"></span>
                </div>

                <div class="b_content_info">
                    <p class="b_title">Ano de Lançamento:</p>
                    <span id="anoLancamento" class="info_valor"></span>
                </div>

                <div class="b_content_info">
                    <p class="b_title">Gênero:</p>
                    <span id="generoNome" class="info_valor"></span>
                </div>
            </div>
        </div>
</div>
</div>

<div class="page_edition">
    <div class="p_edition">
        <div class="add_edition">
            <button id="button_addEdt" type="button">Adicionar Nova Edição</button>                        
            <div id="form_NewEdt">
                    <form id="uploadForm" action="php/processa_edicao.php" method="POST" enctype="multipart/form-data">                               
                        <input type="hidden" name="id_titulo" value="<?php echo htmlspecialchars($id_titulo); ?>">
                        <input type="hidden" id="id_titulo_geral" name="id_titulo_fk" value="">
                        <div class="partOne">
                            <div id="id_infOne">
                                <div id="id_numEdt">
                                    <label>Numero da Edição:</label>
                                    <input type="text" id="txt_Edition" name="edition"  required oninput="maskNunberOnly(this, 5)">
                                </div>

                                <div id="id_numDate">
                                    <label>Data da Edição:</label>
                                    <input type="text" id="txt_ReleaseDate" name="lancamentoDate" placeholder="MM/AAAA" maxlength="7" required oninput="maskDate(this)"><br>
                                </div>
                            </div>

                            <div id="id_upIm">
                                <label for="fileHQ">Selecionar Arquivo de imagem:</label>
                                <input type="file" name="fileHQ[]" id="fileHQ" accept=".zip, .cbz, .cbr, .rar, .pdf, .jpg, .jpeg, .png" multiple><br>
                            </div>

                            <div id="id_btUpEdt">
                                <input type="hidden" name="id_titulo" id="id_titulo_hidden" value=""> 
                                <button type="submit">Cadastrar Edição</button>
                            </div>
                        </div>

                        <div class="partTwo">
                            <span id="errorEdition" class="messageErro" style="display:none;"></span>
                            <span id="ErrorDate" class="messageErro" style="display:none;"></span>
                        </div>

                    </form>
                <div id="feedback_ajax" style="margin-top: 10px; font-weight: bold;"></div>
            </div>

        </div>

        <div class="view_edition">
            <div class="cardsContainer">
                <div id="EditionList">
                    <div class="cardEdition">
                        <div class="edition-actions-container">
                                <button class="btn-edition-menu">...</button>

                                <div class="edition-menu-options" style="display: none;">
                                    <a href="#" class="menu-option">Editar Número da Edição</a>
                                    <a href="#" class="menu-option">Editar Data da Edição</a>
                                    <a href="#" class="menu-option delete-action">Deletar Edição</a>
                                </div>
                            </div>

                        <div class="cardImage"></div>
                        <div class="cardText">
                            <h3 class="cardTitle">Edição #</h3>
                            <p class="cardDateP">Data da Edição:</p>
                            <p class="cardDateP">páginas:</p>
                            <a href="" class="cardLink">Ler</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btnMoreEdt">
                <div id="loadMoreContainer" class="text-center mt-3"></div>
            </div>

        </div>

    </div>

</div>