<div class=" modal-style-hq">
<div class="lib_catalog">
    <nav class="lib_catList">
        <ul>
            <li><a onclick="carregarListaTitulos('filter_char=A')">A</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=B')">B</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=C')">C</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=D')">D</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=E')">E</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=F')">F</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=G')">G</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=H')">H</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=I')">I</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=J')">J</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=K')">K</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=L')">L</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=M')">M</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=N')">N</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=O')">O</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=P')">P</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=Q')">Q</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=R')">R</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=S')">S</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=T')">T</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=U')">U</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=V')">V</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=W')">W</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=X')">X</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=Y')">Y</a></li>
            <li><a onclick="carregarListaTitulos('filter_char=Z')">Z</a></li>
        </ul>
        <ul>
            <li><a onclick="carregarListaTitulos('filter_char=NUM')">0-9</a></li>
        </ul>
    </nav>
</div>

<div class="lib_container">
    <div id="lib_List" class="lib_List">
        <div id="feedback_message"></div>
    </div>
</div>

</div>
<div id="pagination-controls" class="flex justify-center my-8"></div>