<div class="background-page-png">
<form id="form-upload-hq" action="php/processa_hq.php" method="POST" enctype="multipart/form-data">

    <div class="page_all">
        <div class="page_allUp">

            <div class="id_all">
            <div class="id_ContainerbotForm">
                <div class="id_Form">
                    <div class="id_ContainerGroup">
                        
                        <div class="id_FormLeft">
                            <div class="brutalist-container  modal-style-hq">
                                
                                <input class="brutalist-input smooth-type" type="text" id="txt_TitleLocal" name="tituloLocal" placeholder="Escreva aqui..." maxlength="100" required>
                                    <label class="brutalist-label" for="txt_Title">Título Local:</label>
                                    <div class="tooltip-container">
                                    <div class="tooltip-wrapper">
                                      <div class="tooltip-trigger">
                                        <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z"></path>
                                        </svg>
                                      </div>

                                      <div class="tooltip-content">
                                        <p>O título local é como o quadrinho é conhecido na região de publicação.</p>
                                      </div>

                                    </div>
                                </div>
                                
                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="cont_error">
                        <div class="id_ContErr">
                            <span id="ErrorTitle"></span>
                        </div>
                    </div>

                    <div class="id_ContainerGroup">
                        <div class="id_FormLeft">
                            
                            <div class="brutalist-container modal-style-hq">
                                <input class="brutalist-input smooth-type" type="text" id="txt_TitleOriginal" name="tituloOriginal" placeholder="Escreva aqui..." maxlength="100" required>
                                <label class="brutalist-label" for="txt_TitleOriginal">Título Original:</label>
                                <div class="tooltip-container">
                                <div class="tooltip-wrapper">
                                    <div class="tooltip-trigger">
                                        <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z"></path>
                                        </svg>
                                    </div>

                                    <div class="tooltip-content">
                                        <p>O título original é o nome da obra em seu país de origem.</p>
                                    </div>
                                </div>
                            </div>
                                    
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    
                    <div class="cont_error">
                        <div class="id_ContErr">
                            <span id="ErrorOriginal"></span>
                        </div>
                    </div>

                    <div class="id_ContainerGroup">
                        <div class="id_FormLeft">
                            <div class="brutalist-container modal-style-hq">
                                <input class="brutalist-input smooth-type" type="text" id="txt_ReleaseYe" name="lancamentoAno" placeholder="----" onblur="validateYear(event)" oninput="maskNunberOnly(this, 4)" maxlength="4" required pattern="\d{4}">
                                <label class="brutalist-label" for="txt_ReleaseYe">Ano de Lançamento:</label>
                                <div class="tooltip-container">
                                    <div class="tooltip-wrapper">
                                      <div class="tooltip-trigger">
                                        <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z"></path>
                                        </svg>
                                      </div>

                                      <div class="tooltip-content">
                                        <p>Ano de lançamento original da primeira edição (formato AAAA).</p>
                                      </div>
                                    </div>
                              </div>
                                    
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="cont_error">
                        <div class="id_ContErr">
                            <span id="ErrorMensageYearRelease" class="messageErro" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="id_ContainerGroup">
                        <div class="id_FormLeft">
                            <div class="brutalist-container modal-style-hq">
                                <input class="brutalist-input smooth-type" type="text" id="txt_Gender" name="gender" placeholder="----" maxlength="50" required>
                                <label class="brutalist-label" for="txt_Gender">Gênero:</label>
                                <div class="tooltip-container">
                                    <div class="tooltip-wrapper">
                                        <div class="tooltip-trigger">
                                            <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z"></path>
                                            </svg>
                                        </div>

                                        <div class="tooltip-content">
                                            <p>Ex: Ação, Aventura, Fantasia, Ficção Científica.</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="cont_error">
                        <div class="id_ContErr">
                            <span id="ErrorGender"></span>
                        </div>
                    </div>

                    <div class="id_ContainerGroup">
                        <div class="id_FormLeft">
                            <div class="brutalist-container modal-style-hq">
                                
                                <input class="brutalist-input smooth-type" type="text" id="txt_Publisher" name="publisher" placeholder="----" maxlength="50" required>
                                <label class="brutalist-label" for="txt_Publisher">Editora:</label>
                                <div class="tooltip-container">
                                    <div class="tooltip-wrapper">
                                        <div class="tooltip-trigger">
                                            <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z"></path>
                                            </svg>
                                        </div>

                                        <div class="tooltip-content">
                                            <p>Nome da editora que publicou a obra.</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="cont_error">
                        <div class="id_ContErr">
                            <span id="ErrorPubl"></span>
                        </div>
                    </div>
                </div>
                
                
            <button type="submit" class="button">
              <div><span>Cadastrar</span></div>
            </button>



        </div>
        </div>

        </div>

</form>
</div>